<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/methods.js"></script>
<script src="/assets/js/dragNdrop.js"></script>
<script src="/assets/js/app.js"></script></body></html>
