{assign var='title' value='Login'}

{include 'parts/_header.tpl'}

<div class="col-12 col-md-6 mx-auto mt-5">
    <form action="/" method="post">

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Get out pls" autofocus style="position: absolute; left: -9999px">
            <small id="passwordHelp" class="form-text text-muted">Nothing interesting here</small>
        </div>
    </form>
</div>

{include 'parts/_footer.tpl'}